/* Index Page CSS Stylesheet */

/* Title style */
.title{
    text-align: center;
}

/* Style for the hover toggle menu*/
.container{
    position: sticky;
    float:right;
    margin-top: -55px;
    margin-right: 85px;
    top: 0;
    width:300px;
    text-align: center; 
    padding: 50px;
    padding-bottom: 150px;
    font-family: Garamond, serif;
}

/* Style for the hidden menu that will togle when hovered over the container div written above */
.floater{
    border-color: black;
    border-style: solid;
    border-width:2px;
    background-image: url("1.png");
    background-position: center;
    background-size: cover;
    width: 100px;
    height:100px;
    border-radius: 50%;
    position: sticky;
    float: right;
    top: 30%;
    margin-right: 0px;
    margin-left:0px;
}

.floater:hover{
    background-image: url("homepage.png");   
}

h1{
    color: black;
    font-size: 150px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.cont{
    font-size: 70px;
}

div a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 15px;
    display:inline-block;
}

ul{
    display: inline;
    margin-left: -40px;
}

ul li{
    display: inline-block;
}

ul li:hover ul{
    display: block;
}

ul li ul{
    position: absolute;
    width: 245px;
    display: none;
}

ul li ul li{ 
    background: white; 
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: block;
}

ul li ul li a{
    display:block !important;
} 

ul li ul li:hover{
    background: cyan;
}

.hover1{
    font-size: 14px;
}

.hover2{
    font-size: 14px;
}

.hover3{
    font-size: 14px;
}

/* Style for the hidden menu that will togle when hovered over the container div written above */
.ourProduct{
    text-align: left;
    margin-top: -40px;
    font-family: 'Times New Roman', Times, serif;
}

/* Style for Body Paragraphs explaining the product*/

.bodyPar{
    margin-top: -330px;
    padding: 50px;
    width: 583px;
    height: 260px;
    float: right;
    font-family: Georgia, serif;
    letter-spacing: 2px;
    font-size: 20px;
}

.bodyPar2{
    margin-top:100px;
    margin-left:30px;
    padding: 30px;
    height: 500px;
    width: 800px;
    font-family: Georgia, serif;
    letter-spacing: 1px;
    font-size: 18px;
}

/* Poster Positioning */

.milkShakePoster{ 
    margin-top: -550px;
    margin-right: 30px;
    vertical-align: auto;
    right: 0px;
    float: right;
    width: 30%;
    height: auto;  
}

/* Styles and positioning for Milkshake Products */

.milkshakeNames{
    position: relative;
    width: auto;
    margin-top: 200px; 
    text-align: center; 
}

.CHM{
    font-size: 35px;
    float: left;
    vertical-align: middle;
    margin-left: 20px;
    font-family: 'Courier New', monospace;
}

.Raspberry{
    font-size: 35px;
    margin-left: -50px;
    font-family: 'Courier New', monospace;
}

.Caramel{
    font-size: 35px;
    float: right;
    margin-right: 35px;
    font-family: 'Courier New', monospace;
}

/* Flexbox for shake image/links */

.imageFlexBox{
    display: flex;
    justify-content: space-around;
}

/* Positioning of shake images/links */


.shakeOne{
    border-radius: 50%;
    margin-top: 50px;
    height: 300px;
    width: 250px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

.raspberry{
    border-radius: 50%;
    margin-top: 50px;
    height: 300px;
    width: 250px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

.shakeThree{
    height: 300px;
    width: 250px;
    margin-right: -40px;
    margin-top: 50px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
}

/* Review Section Styles*/

.reviewOne{
    margin-top: 150px;
}

/* Positioning of Reviewer Faces and Names*/

.faceOne{
    width: 200px;
    height: 160px;
    margin-left: 100px;
}

.faceTwo{
    width: 120px;
    height: 160px;
    margin-left: 150px;
}

.nameOne{
    font-size: 50px;
    margin-left: 30px;
    font-family: 'Trebuchet MS', sans-serif;
}

.nameTwo{
    font-size: 80px;
    margin-left: 80px;
    font-family: 'Trebuchet MS', sans-serif;
}

/* Big div for the whole review section: style and positioning */

.BigGuy{
    margin-top: 150px;
    border-style: dashed;
    border-color: yellowgreen;
    border-width: 5px;
    border-radius: 20px;
    height: 1700px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #fafac3;
}

.reviewPageTitle{
    font-family: 'Brush Script MT';
    font-size: 80px;
    margin-left: 43%;   
}

/* Double border style for the review title/content */

.border{
    border-style: solid;
    border-width: 3px;
    border-color: pink;
    float: right;
    width: 70%;
    background-color: white;
    border-radius: 5px;   
}

.secondBorder{
    border-style: solid;
    border-width: 3px;
    border-color: pink;  
    background-color: white;
    border-radius: 5px;
}

.reviewTitle{
    font-size: 70px;
    padding: 30px;
    font-family: 'Trebuchet MS', sans-serif;
}

.reviewContent{
    font-size: 30px;
    font-family: Tahoma, sans-serif;
    letter-spacing: 1px;
}

/* User Review section */

.userReview{
    margin-top: 100px;
    text-align: center;
}

.instruction{
    font-size: 30px;
    font-family: 'Brush Script MT', cursive;
}

.inputArea{
    width: 600px;
    height: 200px;
}

/* The hidden user review section that appears with user input when user submits a review */

.userInput{
    display: none;
    font-size: 30px;
    margin-top: 100px;
    height:200px;
    width:800px;
    border-style: solid;
    border-width: 3px;
    border-color: pink;  
    background-color: white;
    border-radius: 5px;
    margin-left:23%;
}
